* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Name {
  font-size: 1.5rem;
}
.ulToggle {
  // position: absolute;
  left: 0;
}
.ulToggle li:hover {
  color: blue;
}

@media (max-width: 992.5px) {
  .Name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .ulToggle {
    position: absolute;
    left: -1000px;
    transition: 0.4s ease-in-out;
  }
  .ulToggleActive {
    left: 0;
    background-color: rgba(128, 128, 128, 0.644);
    padding: 4rem 0;
    transition: 0.4s ease-in-out;
  }
  .ulToggle li:hover {
    color: blue;
  }
}
@media (max-width: 470px) {
  .Name {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
